<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href='https://fonts.googleapis.com/css?family=Cedarville Cursive' rel='stylesheet'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
              <div class="info">
                <div class="title">
                  Request the honour of your presence and Blessing on
the auspicious ocassion on the Wedding Ceremony of Mr Modi and Miss Banerjee.
              </div>
             
               <div class="desc" style="font-size:14px" >
                  <i class="fa fa-calendar" ></i> &nbsp;6th July 2023
               <br/>
                <i class="fa fa-clock-o" ></i> &nbsp;10 AM Onwards
                <br/>
              <i class="fa fa-compass" ></i>&nbsp; Own house, Duttafulia
              <br/>
              <i class="fa fa-map-marker" ></i>&nbsp;<a target="_blank" href="https://goo.gl/maps/SNUEvEENmUcd7yw17">See on Map</a>
            </div>
          
            </div>
                <div class="cardheader">
              
                </div>
                <div class="avatar">
                    <img alt="Groom" src="/assets/img/groom_clip.PNG">
                </div>
                <div class="info">
                    <div class="title">
                        Mr Modi
                    </div>
                    <div class="desc">NIC.</div>
                    <div class="desc">Central Govt Employee</div>
                    <div class="desc">In Kolkata, Rajarhat Unitech Building.</div>
                    <div class="desc">Other Details to be Fillup here .</div>
                    <div class="familytitle">
                      Family 
                   </div>
              <div class="familyavatar">
                    <img alt="Father" src="/assets/img/grndpa.PNG"> Father Mr. Name Here
                    <img alt="Mother" src="/assets/img/grndma.PNG"> Mother Mrs. Name Here
                    <img alt="Siblings" src="/assets/img/sister_clip.PNG"> Elder Sister Mrs. Name Here
                </div> 
                   
                </div>
                <div class="bottom">
                  <a class="btn btn-primary btn-twitter btn-sm" href="#">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a class="btn btn-primary btn-sm" rel="publisher"
                     href="#">
                      <i class="fa fa-facebook"></i>
                  </a>
                  <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                      <i class="fa fa-linkedin"></i>
                  </a>
                  
              </div>

                <div class="cardheader">

                </div>
                <div class="avatar">
                  <img alt="Bride" src="/assets/img/bride_clip.PNG">
              </div>
              <div class="info">
                  <div class="title">
                      Miss Banerjee
                  </div>
                  <div class="desc">M.A. B.Ed.</div>
                  <div class="desc">State Govt Employee</div>
                  <div class="desc">Other Details to be Fillup here .</div>
                  <div class="desc">Other Details to be Fillup here .</div>
                  <div class="familytitle">
                   Family 
                </div>
                <div class="familyavatar">
                  <img alt="Father" src="/assets/img/grndpa.PNG"> Father Mr. Name Here
                  <img alt="Mother" src="/assets/img/grndma.PNG"> Mother Mrs. Name Here
                  <img alt="Siblings" src="/assets/img/sister_clip.PNG"> Elder Sister Mrs. Name Here
              </div> 
              </div>


                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    
                </div>
            </div>

           
        </div>
       

          

    

	</div>
</div>